{% extends "homepage/index.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="container" id="chart"></div>
<script>
    var options = {
          series: [{
            name: "Rank",
            data: {{ ranks }}
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Rank vs Contest id',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: {{ contests }},
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
</script>
{% endblock content %}