{% extends "homepage/index.html" %}
{% load static %}
{% block content %}

<div class="col-lg-6 col-md-7 col-sm-8">
    <div class="banner-content">
        <h1>Web Scraping <br> Codeforces Website</h1>
        <p>Welcome to our website where we help you to track progress of your friends/rivals on codeforces.</p>
        <form method="post" target="_blank">
             {% csrf_token %}
             {{ form }}
            <input type="submit" class="primary-btn" value="GO"><span class="lnr lnr-arrow-right"></span>
        </form>
    </div>
</div>
<div class="col-lg-5 col-md-5 col-sm-4">
    <img src="{% static 'banner.png' %}" alt="" class="img-fluid">
</div>
{% endblock content %}