<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <title>Statistics-{{ handle }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
<body>
      <div class="container" style="position: relative; height:700px; width:700px">
            <canvas id="myChart"></canvas>
      </div>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let SubmissionsChart = new Chart(myChart, {
      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Accepted', 'Hacked', 'Wrong Answer', 'Runtime Error', 'Time Exceeded', 'Compilation Error'],
        datasets:[{
          label:'Submissions',
          data:[
                '{{ accepted }}',
                '{{ hacked }}',
                '{{ wrong_answer }}',
                '{{ runtime_error }}',
                '{{ time_exceed }}',
                '{{ compilation_error }}'
          ],
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(24,169,0,0.98)',
            'rgb(134,27,125)',
            'rgba(255,0,32,0.83)',
            'rgba(123,7,7,0.5)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'1. Total Submissions',
          fontSize:35,
            fontColor: '#000'
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>
</body>
</html>